<!-- etiqueta/router necesario usar <ion view> que le permite a ionic enrutar correctamente el contenido-->
<ion-view>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
	  <div>{{welcome}}</div>
		<input type="checkbox" ng-model="dato1">
		<input type="checkbox" ng-model="dato2">

		<h2 ng-show="dato1">Dato: 1</h2>
		<h2 ng-hide="dato2">Dato: 2</h2>

		<div class ="list card">
			<div class ="item item-avatar">
			<img src ="../img/Dolores.jpg" alt="">
			<h2>Dolores O'Riordan</h2>
			<p>Enero 15, 2018</p>
		</div>
		<div class ="item item-body">
		<img src="../img/Dolorescon.jpg" alt="" height="200px">
		<p>Dolores Mary Eileen O'Riordan, ​ conocida artísticamente como Dolores O'Riordan, 
		fue una música, cantante y compositora irlandesa, 
		vocalista de la banda de rock The Cranberries. </p>
		<a href ="#" class="subdued"> 1 Like</a>
		<a href ="#" class="subdued"> 1 Comments</a>
</div>
</div>

		<ion-list show-delete="true">
			<ion-item>Music</ion-item>
			<ion-item href="#">Pop</ion-item>
			<ion-item href="https://es.wikipedia.org/wiki/Dolores_O%27Riordan">Rock</ion-item>
			<ion-item ng-hide="borrar">Blues
			<ion-delete-button class="ion-minus-circled" ng-click="borrar"></ion-delete-button>
			</ion-item>
			<ion-item>All</ion-item>
      </ion-content>
</ion-view>

<!-- 
Directivas
ng-app
ng-controller
ng-model
ng-change
ng-click
ng-blind
-->